/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Resetting CSS styles
    Copyright
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    
    color: inherit;

    white-space: nowrap;
}


button {
    cursor: pointer;

    border: none;

    background-color: transparent;

    white-space: nowrap;
}

input {
    background-color: transparent;
    
    border: none;
    
    outline: none;
}

li {
    list-style: none;
}