/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    About section style
    Copyright
*/

.about {
    background: radial-gradient(30% 68% at 50% 50%, rgba(var(--main-color-rgb), 0.2) 0%, transparent 100%);

    & .about-list > div {
        flex: 1;
    }

    & .about-item {
        padding: 30px;

        display: flex;
        flex-direction: column;
        gap: 20px;

        flex: 1;

        border-radius: 10px;

        backdrop-filter: blur(10px);

        box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.12), 0 0 0 1px rgba(0,0,0,.04);
    }
}