/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    About section style
    Copyright
*/

.about {
    --animation-delay: 0s;

    margin: 10rem 0px;
}

.about.preloader-show {
    --animation-delay: 2.8s;
}

.about .about-wrapp > * {
    flex: 1;
}

.about .about-wrapp {
    width: 100%;
}

.about .about-info,
.about .about-info-title,
.about .about-info .about-info-excretion,
.about .about-info .about-info-text {
    position: relative;
}

.about .about-info-title {
    font-size: 1.8rem;
    color: var(--color);
}

.about .about-info-title::after {
    content: "";
}

.about .about-info {
    text-indent: 2em;
    line-height: 1.5em;
    color: var(--thi-color);
}

.about .about-info .about-info-excretion {
    color: var(--color);
}

.about .about-info .about-info-excretion,
.about .about-info .about-info-text {
    display: inline-block;
}

.about .about-info .about-info-excretion::after {
    content: "";
}

.about .about-info .about-info-text::after {
    content: "";
}

.about .about-info-title::after,
.about .about-info .about-info-excretion::after,
.about .about-info .about-info-text::after {
    position: absolute;
    left: 0;
    top: 0;

    color: transparent;
}

.about .about-statistic .about-statistic-wrapp {
   flex: 1;
}

.about .about-statistic .about-statistic-wrapp .about-statistic-item {
    display: flex;
    gap: 0.5rem;
}

.about .about-statistic .about-statistic-wrapp .about-statistic-icon-wrapp {
    position: relative;

    height: 100%;
    aspect-ratio: 1;

    margin-right: 0.5rem;

    border-radius: 25%;

    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.2);
}

.about .about-statistic .about-statistic-wrapp .about-statistic-icon {
    position: absolute;

    width: 40%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    fill: var(--color);
}

.about .about-statistic .about-statistic-wrapp .about-statistic-info {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.about .about-statistic .about-statistic-wrapp .about-statistic-item .about-statistic-title {
    font-size: 1.2rem;
    font-family: var(--p-font-family-m);
}

.about .about-statistic .about-statistic-wrapp .about-statistic-item .about-statistic-desc {
    font-size: 0.8rem;
    color: var(--thi-color);
}

.about .about-wrapp .about-logo-cnt {
    --moveX: 0px;
    --moveY: 0px;
    --bs-main-color-rgb: var(--main-color-rgb);

    position: relative;

    display: flex;
    width: 25rem;
    aspect-ratio: 1;

    border-radius: 25%;

    filter: drop-shadow(calc(var(--moveX)/10) calc(var(--moveY)/10) 10px rgba(255,255,255,0.2));

    transition: filter 0.1s linear;
}

.about .about-wrapp .about-logo-cnt::before {
    content: "";

    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    display: block;
    width: 110%;
    height: 110%;

    background-image: radial-gradient(100% 100% at 50% 50%, rgba(255, 255, 255, 0.5) 0%, transparent 20%),
                radial-gradient(100% 100% at 50% 50%, rgba(var(--bs-main-color-rgb), 0.5) 0%, transparent 40%),
                radial-gradient(100% 100% at 50% 50%, rgba(var(--bs-main-color-rgb), 1) 0%, transparent 60%);
    background-repeat: no-repeat;
    background-position: calc(50% + var(--moveX)) calc(50% + var(--moveY));

    filter: blur(20px);

    overflow: visible;

    transition: background-position 0.1s linear,
                opacity 0.5s linear;
}

.about .about-wrapp .about-logo-cnt:active::before {
    opacity: 0;
}

.about .about-wrapp .about-logo-cnt:not(:hover) {
    --moveX: 0px;
    --moveY: 0px;
}

.about .about-wrapp .about-logo-cnt .about-logo {
    width: 100%;
    height: 100%;
    
    border-radius: inherit;

    background-color: var(--main-bg-color);

    mask: url("data:image/svg+xml;utf8,<svg viewBox='0 0 91 85' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M19 2.8v39.239c-2.41.112-4.643.465-6.7 1.061-2.6.667-4.8 1.833-6.6 3.5-1.8 1.6-3.2 3.767-4.2 6.5S0 59.2 0 63.2c0 3.333.267 6.467.8 9.4.533 2.933 1.067 5.167 1.6 6.7l9.8-1.5c-.533-1.467-1-3.367-1.4-5.7-.4-2.333-.6-4.9-.6-7.7 0-2.067.267-3.767.8-5.1.533-1.4 1.3-2.5 2.3-3.3a7.617 7.617 0 0 1 3.3-1.8c1.267-.333 2.6-.5 4-.5h2c-.4 1.667-.667 3.233-.8 4.7-.2 1.467-.3 2.867-.3 4.2 0 2.867.3 5.633.9 8.3.533 2.6 1.467 4.9 2.8 6.9 1.267 2 2.933 3.6 5 4.8 2.067 1.133 4.6 1.7 7.6 1.7 3.133 0 5.767-.5 7.9-1.5 2.133-1.067 3.867-2.5 5.2-4.3 1.333-1.867 2.3-4.1 2.9-6.7.6-2.6.9-5.467.9-8.6 0-3.508-.165-6.741-.494-9.7H78.7v16.8l12.1-2V23c0-3.467-.3-6.567-.9-9.3-.6-2.667-1.633-4.967-3.1-6.9a12.969 12.969 0 0 0-.224-.277C85.118 4.476 83.093 2.902 80.5 1.8 77.9.6 74.567 0 70.5 0c-1.6 0-3.2.167-4.8.5-1.533.333-3 .767-4.4 1.3-1.4.467-2.667 1-3.8 1.6-1.133.6-2.067 1.167-2.8 1.7-1.533-1.533-3.467-2.767-5.8-3.7C46.633.467 43.7 0 40.1 0c-4.2 0-8.2.3-12 .9-3.733.6-6.767 1.233-9.1 1.9Zm29.8 23.1c0-5.467-.7-9.4-2.1-11.8-1.333-2.467-3.867-3.7-7.6-3.7-1.333 0-2.8.1-4.4.3-1.6.2-2.8.367-3.6.5V42h17.7V25.9Zm27.483-12.328c.112.169.218.345.317.528 1.333 2.4 2 6.333 2 11.8v17.5H60.9V24.5c0-2.133-.1-4.133-.3-6a26.673 26.673 0 0 0-1.1-5.3c.823-.57 2.037-1.14 3.642-1.71.34-.095.693-.192 1.058-.29 1.667-.467 3.6-.7 5.8-.7 2.886 0 4.931 1.464 6.283 3.072ZM45.1 62.2c0-3.733-.2-6.567-.6-8.5H31.1c-.2.667-.4 1.633-.6 2.9-.2 1.267-.3 2.667-.3 4.2 0 1.333.1 2.7.3 4.1.2 1.333.567 2.567 1.1 3.7a6.652 6.652 0 0 0 2.3 2.6c.933.667 2.133 1 3.6 1 2.867 0 4.867-.9 6-2.7 1.067-1.8 1.6-4.233 1.6-7.3Z'/></svg>") no-repeat,
            linear-gradient(#fff,#fff);
    mask-composite: exclude;
    mask-position: 50% 50%;
    mask-size: 60%;

    cursor: pointer;

    transition: inherit;
}

.about.section-show .about-wrapp .about-logo-cnt {
    animation: showShadowLogo calc(var(--animation-delay) + 3s) ease;
}

@keyframes showShadowLogo {
    0%, 20% {
        filter: drop-shadow(0px 0px 10px rgba(255,255,255,0));
    }

    100% {
        filter: drop-shadow(calc(var(--moveX)/10) calc(var(--moveY)/10) 10px rgba(255,255,255,0.2));
    }
}

.about.section-show .about-wrapp .about-logo-cnt::before {
    animation: showBackgroundLogo calc(var(--animation-delay) + 1.5s) ease;
}

@keyframes showBackgroundLogo {
    0%, 10% {
        opacity: 0;
        width: 0%;
        height: 0%;
    }

    100% {
        opacity: 1;
        width: 110%;
        height: 110%;
    }
}