/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Authorization section style
    Copyright
*/

.auth .form-wrapp {
    background: radial-gradient(120% 100% at 50% 0%, rgba(100, 95, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 30%, rgba(255, 255, 255, 0.08) 100%);
}