/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Create meet section style
    Copyright
*/

.create .form-wrapp {
    background: radial-gradient(120% 100% at 50% 100%, rgba(100, 95, 255, 0.1) 0%, rgba(255, 255, 255, 0.08) 25%, rgba(255, 255, 255, 0.2) 100%);
}

.create .form-wrapp .create-form > div > div {
    max-width: 50%;
}

.create .form-wrapp .create-form > div .calendar-wrapp {
    flex: 1;
}