/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Header style
    Copyright
*/

header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    position: fixed;
    top: 0;
    z-index: 100;

    translate: 0% -100%;

    background: rgba(var(--main-bg-color-rgb), 0.6);
    backdrop-filter: blur(20px);

    border-bottom: 1px solid transparent;

    transition: all 0.2s;

    animation: headerShow 1s ease forwards;
}

.header.preloader-show {
    animation: headerShow 1s ease 2.8s forwards;
}

@keyframes headerShow {
    from {
        translate: 0% -100%;
    }

    to {
        translate: 0% 0%;
    }
}

.header nav {
    padding-block: 2rem;

    transition: padding-block 0.2s;
}

.header::after {
    content: "";

    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;

    translate: -50% 100%;

    display: block;
    width: 0%;
    height: 10px;

    border-top: 1px solid;
    border-image-source: linear-gradient(90deg, transparent, rgba(var(--sec-color-rgb), 0.5) 50%, transparent 100%);
    border-image-slice: 1;

    background: radial-gradient(50% 100% at 50% 0%, rgba(var(--sec-color-rgb), 0.25) 0, transparent 70%);

    opacity: 0;

    transition: all 0.5s;
}

.header-skroll::after {
    width: 100%;
    opacity: 1;
}

.header-skroll nav {
    padding-block: 1rem;
} 

.header .mobile-menu {
    opacity: 0;
    position: absolute;
    z-index: -100;

    width: 1.8rem;
    aspect-ratio: 1;

    & span {
        display: block;

        position: absolute;

        width: 0.6rem;
        aspect-ratio: 1;
        
        background: var(--fou-color);

        border-radius: 100%;
    }

    & span:nth-child(1) {
        top: 0;
        left: 0;
    }

    & span:nth-child(2) {
        top: 0;
        right: 0;
    }

    & span:nth-child(3) {
        bottom: 0;
        left: 0;
    }

    & span:nth-child(4) {
        bottom: 0;
        right: 0;
    }
}