/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Hero section style
    Copyright
*/

.hero {

}

.hero .slogan-wrapp, .mobile-wrapp {
    flex: 1;
    height: 100%;
}

.hero .slogan-wrapp > .primary-button {
    font-size: 1.5rem;
}

.hero .slogan-wrapp .slogan {
    text-align: center;

    font-family: var(--h-font-family-m);
    font-size: 5rem;
    color: var(--color);
}

.hero .slogan-wrapp .desc {
    text-align: center;
    line-height: 1.6em;
    font-family: var(--p-font-family-m);
    font-size: 1rem;
    color: var(--thi-color);
}

.hero > .container {
    min-height: 80vh;
}