/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Links style
    Copyright
*/

a {
    display: block;

    width: fit-content;
    height: fit-content;

    color: inherit;

    white-space: nowrap;

    transition: background-color 0.3s, color 0.3s;
}

.nav-link {
    font-size: 18px;

    padding: 0.6em 1.1em;

    border-radius: 10px;

    &:hover {
        background-color: rgba(var(--sec-color-rgb), 0.7);
        box-shadow: 0px 0px 15px 1px rgba(var(--sec-color-rgb), 0.7);
    }

    &:active {
        color: var(--sec-color);
    }
}

.nav-pr-link {
    font-size: 20px;

    &:hover {
        color: var(--sec-color);
        text-shadow: rgba(var(--sec-color-rgb), 0.7) 1px 0 10px;
    }

    &:active {
        color: var(--sec-color);
    }   
}