/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Logo style
    Copyright
*/

.logo {
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-family: var(--h-font-family-m);
    
    font-size: 1.4rem;

    & img {
        position: relative;
        transform: translateY(12%);

        width: 1.5rem;
        height: auto;
    }
}