/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Nav style
    Copyright
*/

nav {
    width: 100%;
}

nav .nav-menu-wrapp {
    gap: 1.5rem;
}

nav .nav-menu-wrapp .nav-menu-item {
    width: fit-content;
    height: fit-content;
}