/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Preloader style
    Copyright
*/

.preloader-wrapp {
    position: fixed;
    top: 0%;
    z-index: 1000;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    opacity: 1;

    animation: preloaderNone 0s linear forwards 3s;
}

@keyframes preloaderNone {
    from {
        opacity: 1;
        display: flex;
        z-index: 1000;
    }

    to {
        opacity: 0;
        display: none;
        z-index: -1000;
    }
}

.preloader-wrapp::before {
    content: "";
    position: relative;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: var(--main-bg-color);

    animation: bgMoveTop 0.8s ease 2.5s forwards;
}

@keyframes bgMoveTop {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}

.preloader-wrapp .preloader {
    position: absolute;

    transform: scale(1);

    display: flex;
    gap: 1.5rem;

    animation: preloaderHide 1s ease 2.5s forwards;
}

@keyframes preloaderHide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.1);
    }
}

.preloader-wrapp .preloader .preloader-title-wrapp {
    position: relative;
    overflow: hidden;
}

.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title {
    --preloader-title-scale: 5;
    position: relative;
    left: 0%;

    display: flex;
    height: 100%;

    opacity: 1;


    font-family: var(--h-font-family-m);
    font-size: clamp(calc(5px * var(--preloader-title-scale)), calc(1.5vw * var(--preloader-title-scale)), calc(20px * var(--preloader-title-scale)));

    overflow: hidden;
}

.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span {
    position: relative;
    
    opacity: 0;
    transform: scale(0.5);
}

.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(1) {
    animation: letterRotate 1s ease forwards 1.6s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(2) {
    animation: letterRotate 1s ease forwards 1.65s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(3) {
    animation: letterRotate 1s ease forwards 1.7s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(4) {
    animation: letterRotate 1s ease forwards 1.75s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(5) {
    animation: letterRotate 1s ease forwards 1.8s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(6) {
    animation: letterRotate 1s ease forwards 1.85s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(7) {
    animation: letterRotate 1s ease forwards 1.9s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(8) {
    animation: letterRotate 1s ease forwards 1.95s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(9) {
    animation: letterRotate 1s ease forwards 2s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(10) {
    animation: letterRotate 1s ease forwards 2.05s;
}
.preloader-wrapp .preloader .preloader-title-wrapp .preloader-title > span:nth-child(11) {
    animation: letterRotate 1s ease forwards 2.1s;
}

@keyframes letterRotate {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.preloader-wrapp .preloader .preloader-svg {
    --preloader-svg-scale: 8;
    --preloader-svg-move: 2%;
    position: relative;

    left: 50%;

    transform: translateX(-50%);

    width: clamp(calc(5px * var(--preloader-svg-scale)), calc(1.5vw * var(--preloader-svg-scale)), calc(20px * var(--preloader-svg-scale)));

    animation: iconLeft 0.5s ease forwards 1.5s;
}

.preloader-wrapp .preloader .preloader-svg svg {
    position: relative;

    width: 100%;

    overflow: visible;
}

.preloader-wrapp .preloader .preloader-svg svg:first-child {
    animation: 
        iconShow 1s ease forwards,
        iconTop 0.2s linear forwards 1s;
}

.preloader-wrapp .preloader .preloader-svg svg:last-child {
    position: absolute;

    top: 0px;
    left: 0px;

    opacity: 0;

    stroke: var(--fou-color);
    stroke-width: 2px;

    animation: iconBottom 0.2s linear forwards 1s;
}

@keyframes iconShow {
    from {
        scale: 0.1;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes iconTop {
    from {
        top: 0px;
        right: 0px;
    }

    to {
        top: calc(-1 * var(--preloader-svg-move));
        right: calc(-1 * var(--preloader-svg-move));
    }
}

@keyframes iconBottom {
    from {
        opacity: 0;
        top: 0px;
        left: 0px;
    }

    to {
        opacity: 1;
        top: var(--preloader-svg-move);
        left: calc(-1 * var(--preloader-svg-move));
    }
}

@keyframes iconLeft {
    from {
        left: 50%;
        transform: translateX(-50%);
    }

    to {
        left: 0;

        transform: translateX(0%);
    }
}