/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Radius style
    Copyright
*/

.bottom-radius {
    border-radius: 0px 0px 50px 50px;
}

.top-radius {
    border-radius: 50px 50px 0px 0px;
}