/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Reviews section style
    Copyright
*/

.reviews {
    background: radial-gradient(30% 68% at 50% 50%, rgba(var(--main-color-rgb), 0.2) 0%, transparent 100%);

    & .review-item {
        align-items: end;

        & .review-avatar {
            display: flex;
            align-items: center;
            justify-content: center;

            width: clamp(20px, 15vw, 120px);
            height: clamp(20px, 15vw, 120px);
            aspect-ratio: 1;

            border-radius: 50%;

            overflow: hidden;

            & img {
                width: auto;
                height: auto;

                max-height: 100%;
            }
        }

        & .review-body {
            width: 50%;

            border-radius: 2rem 2rem 2rem 0.01rem;

            padding: 1rem 2rem;

            background: var(--glass-color);
            backdrop-filter: blur(10px);
        }

        & .review-title {
            align-items: end;
        }

        & .review-name {
            font-size: 1rem;
            color: var(--sec-color);
        }

        & .review-desc {
            font-size: calc(3/4rem);
        }

        & .review-text {
            font-size: 1.2rem;
        }
    }

    & .right-item {
        flex-direction: row-reverse;

        & .review-body {
            border-radius: 2rem 2rem 0.01rem 2rem;
        }
    }
}