/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Video style
    Copyright
*/

.video-wrapp {
    position: relative;
    z-index: 2;

    max-width: 100%;
}

.video-wrapp video {
    width: 100%;
}