/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Contanier style
    Copyright
*/

.container {
    position: relative;
    width: clamp(300px, 95%, 1820px);
}

.cnt-title {
    font-family: var(--h-font-family-m);
    font-size: 4rem;
    color: var(--color);
}

.container-md {
    position: relative;
    width: clamp(300px, 85%, 1820px);
}

.container-sm {
    position: relative;
    width: clamp(300px, 70%, 1820px);
}