/* 
    Author: Semenov Daniil
    GitHub: https://github.com/Semenov-Daniil
    Contanier style
    Copyright
*/

/* @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} */

.container {
    position: relative;
    width: 95%;
    min-width: 250px;
}

.container-md {
    position: relative;
    width: 85%;
    min-width: 250px;
}

.container-sm {
    position: relative;
    width: 70%;
    min-width: 250px;
}

.cnt-title {
    width: 100%;

    font-family: var(--h-font-family-m);
    font-size: 4rem;
    color: var(--color);

    /* text-transform: uppercase; */
}

.title-left {
    text-align: left;
}

.cnt-gradient-b {
    position: relative;

    border-bottom-left-radius: 3.5rem;
    border-bottom-right-radius: 3.5rem;

    background: radial-gradient(clamp(1000px, 135vw, 135vw) 100% at 50% 0%, var(--main-bg-color) 45%, var(--main-color) 80%, #ffffff 115%);
}

.cnt-gradient-b > .grd-cnt-blick,
.cnt-gradient-t > .grd-cnt-blick {
    --grd-blick-before-offset: -1rem;
    --grd-blick-before: transparent 42%, var(--sec-light-color) 50%, transparent 58%;
    --grd-blick-after-offset: -2px;
    --grd-blick-after: transparent 45%, var(--sec-light-color) 50%, transparent 55%;
    --grd-blick-blur: 20px;

    position: absolute;
    inset: 0;
    z-index: -1;

    border-radius: inherit;

    opacity: 0;

    background: var(--main-bg-color);

    transition: opacity 0.5s;
}

.grd-cnt-blick > div {
    width: 100%;
    height: 100%;

    background: inherit;

    border-radius: inherit;
}

.grd-cnt-blick::before,
.grd-cnt-blick::after {
    content: "";

    position: absolute;
    z-index: -1;

    display: block;

    border-radius: inherit;
}

.grd-cnt-blick::before {
    left: var(--grd-blick-before-offset);
    right: var(--grd-blick-before-offset);

    filter: blur(var(--grd-blick-blur));
}

.grd-cnt-blick::after {
    left: var(--grd-blick-after-offset);
    right: var(--grd-blick-after-offset);
}

.cnt-gradient-b > .grd-cnt-blick::before {
    bottom: var(--grd-blick-before-offset);
    top: 0;

    background: radial-gradient(clamp(1000px, 135vw, 135vw) 100% at 50% 0%, var(--main-bg-color) 45%, transparent 80%),
                conic-gradient(from var(--gradient-angle) at 50% 0%, var(--grd-blick-before));
}

.cnt-gradient-b > .grd-cnt-blick::after {
    bottom: var(--grd-blick-after-offset);
    top: 0px;

    background: radial-gradient(clamp(1000px, 135vw, 135vw) 100% at 50% 0%, var(--main-bg-color) 45%, transparent 80%),
                conic-gradient(from var(--gradient-angle) at 50% 0%, var(--grd-blick-after));
}

.cnt-gradient-t {
    border-top-left-radius: 3.5rem;
    border-top-right-radius: 3.5rem;

    background: radial-gradient(clamp(1000px, 140vw, 140vw) 100% at 50% 90%, var(--main-bg-color) 45%, var(--main-color) 80%, #ffffff 100%);
}

.cnt-gradient-t > .grd-cnt-blick::before {
    bottom: 0;
    top: var(--grd-blick-before-offset);

    background: radial-gradient(clamp(1000px, 140vw, 140vw) 100% at 50% 90%, var(--main-bg-color) 45%, transparent 80%),
                conic-gradient(from var(--gradient-angle) at 50% 100%, var(--grd-blick-before));
}

.cnt-gradient-t > .grd-cnt-blick::after {
    bottom: 0;
    top: var(--grd-blick-after-offset);

    background: radial-gradient(clamp(1000px, 140vw, 140vw) 100% at 50% 90%, var(--main-bg-color) 45%, transparent 80%),
                conic-gradient(from var(--gradient-angle) at 50% 100%, var(--grd-blick-after));
}

.cnt-gradient-b:hover > .grd-cnt-blick,
.cnt-gradient-t:hover > .grd-cnt-blick {
    opacity: 1;
}
